In [1]:
import streamlit as st

## INSTALLATION

In [ ]:
!pip install --upgrade streamlit

In [ ]:
# Let's run the demo app to discover what Streamlit is all about
!streamlit hello

## DATA

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("https://github.com/streamlit/demo-uber-nyc-pickups/raw/main/uber-raw-data-sep14.csv.gz", compression="gzip", parse_dates=["Date/Time"])
df.sample(10)

                  Date/Time      Lat      Lon    Base
664379  2014-09-03 11:54:00  40.6874 -73.9258  B02682
195968  2014-09-20 11:30:00  40.7309 -74.0029  B02598
886635  2014-09-09 17:58:00  40.7282 -74.0071  B02764
295832  2014-09-03 07:01:00  40.7139 -74.0104  B02617
955105  2014-09-20 19:30:00  40.6694 -73.9868  B02764
689128  2014-09-06 16:54:00  40.7487 -73.9840  B02682
1014748 2014-09-29 06:27:00  40.6870 -73.9968  B02764
237263  2014-09-25 21:32:00  40.7298 -74.0041  B02598
163554  2014-09-16 18:16:00  40.7449 -73.9872  B02598
463237  2014-09-15 11:56:00  40.7666 -73.9611  B02617

In [5]:
df.dtypes

Date/Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
dtype: object