In [1]:
import os
import pandas as pd
from google.cloud import bigquery

# If you want to use your local jupyter notebook:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../test-caa-labs-c22347b520c9.json"

/Users/aajalloe/opt/anaconda3/envs/caa24/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
# Define the BigQuery client
client = bigquery.Client(project="test-caa-labs") # PROJECT_ID

In [3]:
# evaluate the model
query = """
SELECT * FROM 
ML.EVALUATE(MODEL `test-caa-labs.lab5_dataset.first-MF-model`)
"""

query_job = client.query(query)
query_job.to_dataframe()

,mean_average_precision,mean_squared_error,normalized_discounted_cumulative_gain,average_rank
0,0.389043,0.044024,0.951434,0.477767

In [10]:
# make recommendations for a set of users
query = """
SELECT * FROM
ML.RECOMMEND(MODEL `test-caa-labs.lab5_dataset.first-MF-model`,
(
SELECT
  userid
FROM
  `test-caa-labs.lab5_dataset.ml-small-ratings`
LIMIT 5))
"""

query_job = client.query(query)
df = query_job.to_dataframe()
df.head(10)

   predicted_rating_im_confidence  userId  movieId
0                       -0.023199       7     8502
1                        0.017713       7   145283
2                        0.033358       7    90809
3                        0.904709       7     1917
4                        0.054174       7   122890
5                        0.205242       7     1572
6                       -0.169576       7     1474
7                       -0.185765       7     3329
8                        0.154473       7     2059
9                        0.122520       7   147372

In [11]:
# The output of the ML.RECOMMEND query has a lot of rows. Do you know why?
print(df.shape)

(48620, 3)